<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>나만의 블로그</title>
</head>
<body>
  <h1>초간단 BLOG 만들어보기 </h1>
  <form action="/articles/create/">
    제목: <input type="text" name="title" method="GET" placeholder="제목을 입력하세요"><br>
    이미지: <input name="img_url" type="text" placeholder="이미지url을 넣어주세요"><br>
    내용: <textarea name="contents" method="GET" placeholder="내용을 입력하세요" id="" cols="30" rows="20"></textarea>
    <button type="submit">업로드</button>
  </form>
  
</body>
</html>