{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
<div class="container">
  <h1>상세보기</h1>
  <p>번호 : {{ article.pk }}</p>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>생성일자 : {{ article.created_at|date:"Y년, m월, d일" }}</p>
  <p>수정일자 : {{ article.updated_at|date:"SHORT_DATE_FORMAT" }}</p>
  <a href="{% url 'articles:index' %}" class="btn btn-success">목록보기</a>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제" class="btn btn-danger">
  </form>
  <a href="{% url 'articles:update' article.pk %}">수정</a>

  <hr>
  
  <h2>댓글 목록</h2>
  
  <form action="{% url 'articles:comments' article.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form c_form %}
    <!-- <input type="text" name="content"> -->
    <input type="submit" class="btn btn-secondary">
  </form>
  <hr>
    <p><i>총 {{ comments | length }}개의 댓글이 달렸습니다.</i></p>
    {% for comment in comments %}
      <p>{{ comment.content }}</p>
    {% empty %}
      <p><i>아직 댓글이 없어요. 댓글 달아주세요</i></p>
    {% endfor %}
</div>

{% endblock %}